
</head>
<body>
<style>
body{
  background-color:grey;
  }
  </style>
<p id="name"><span style= "font-size:30px;"><b>SURYA PRAKASH M</b></span><br>
  <b>Ph:</b> +91 9345456144<br>
         <a target="_blank"><b>mail:</b>surya.sp.1217@gmail.com</a><br>
         <a target="_blank"><b>Linkedin:</b>Surya Prakash</a></p>
     </div>
     <div class="left">
     </div>
     <div class="right">
            <p style="background-color:#E7C3E8;"><span style="font-size:20px;"><b>ABOUT ME :</b></span><br></p>
            <p><ul style="list-style-type:none;">
            <li>``I am AI Student. focusing  to work in the field of AI Developer.''<br>

``If you don't have any shadows, you're not standing in the light.''</li>
            </ul>
            </p>
            <h3 id="Skills" style="background-color:#E7C3E8;">SKILLS :</h3>
            <p>
            <ul>
                <li><b>Languages known:</b>Tamil, English</li>
                <li><b>Programming languages:</b> Python, R, Java, SQL</li>
                <li><b>Software Tools:</b>  Tableau, Power BI, R studio, my SQL</b></li>
               </ul>
            </p>
            <h3 style="background-color:#E7C3E8;">CERTIFICATES :</h3>
            <ul>
                <li><b>Nov -2021</b> Fundamentals of deep learning, NVIDIA</li>
                <li><b>Jan -2022</b> Java programmings and fundamentals, INFOSYS</li>
                <li><b>Jan -2022</b> Java language features, INFOSYS</li>
                <li><b>Jan -2022</b> Java SE 8 features, INFOSYS</li>
                <li><b>Dec -2021</b> Data visualisation, WE & DATA</li>
                <li><b>May -2022</b> Fundamentals of Accelerated Data Science,
NVIDIA</li>
                 <li><b>May -2022</b> Fundamentals of Accelerated Computing with
CUDA Python, NVIDIA</li>
            </ul>
            <h3 style="background-color:#E7C3E8;">EDUCATION :</h3>
            <table>
            <style>
            table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

</style>
                <tr id="heading">
                    <td><b>Qualification</b></td>
                    <td><b>Board</b></td>
                    <td><b>Percentage / CGPA</b></td>
                    <td><b>Year</b></td>
                </tr>
                <tr>
                    <td>SSLC</td>
                    <td>VIMALA MATRIC HR SEC SCHOOL</td>
                    <td>76.2</td>
                    <td>2017-2018</td>
                </tr>
                <tr>
                    <td>HSC </td>
                    <td>R.V.B MATRIC HR SEC SCHOOL</td>
                    <td>62.33</td>
                    <td>2019-2020</td>
                </tr>
                <tr>
                    <td>B.tech AI & DS</td>
                    <td>Karpagam College Of Engineering</td>
                    <td>8.16 (till now)</td>
                    <td>2022</td>
                </tr>
                
                
            </table>
            <h3 style="background-color:#E7C3E8;">STRENGTH :</h3>
            <p>
            <ul>
                <li>Persuasive</li>
                <li>Conflict Resolution</li>
                <li>Well in analytical,logical skills</li>
                <li>Well in Data Visualization, Logo Designing</li>
            </ul>
            <h3 style="background-color:#E7C3E8;">INTERNS :</h3>
            <ul style="list-style-type:none;">
            <li><p><b>Dec -2021</b> Data visualisation, WE DATA
Power BI training and intern at WE and DATA</p></li>
             </ul>
           
            <h3 style="background-color:#E7C3E8;">PROJECTS :</h3>
            <ul>
            <li><b>Reliance</b> (Dec-2021)
Visualise the Reliance using Power BI..</p></li>
            <li><b>Automated Hybrid Power Generation Using Hybrid Energy</b>(June 2022) Project using Python</li>
            </ul>
            <h3 style="background-color:#E7C3E8;">DECLARATION :</h3>
            <p>
            I solemnly declare the information mentioned herein is true and correct to the best of my beliefs.</p>
     </div>
     <div id="footer"></div>
    </body>
</html>
